<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QaWingify">
<listeners>
<listener class-name="com.Utility.ListenerSetup"></listener>
</listeners>
  <test thread-count="5" name="QaWingify">
    <classes>
      <class name="com.TestLayer.LoginPageTest"/>
      <class name="com.TestLayer.HomePageTest"/>
    </classes>
  </test> <!-- QaWingify -->
</suite> <!-- QaWingify -->
